POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
DATABASE_URI=postgresql://user:password@db:5432/dbname
SECRET_KEY=your-secret-key-here
REACT_APP_API_URL=http://backend:8000
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin